@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #4E47FF;
    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Inter", sans-serif;
}

/*
01. Typography/Presets
==========================================================
*/

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-pill {
    background-color: var(--primary-color);
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    transition: all ease .5s;
}

.btn-pill:hover {
    transform: scale(1.1);
}

.container {
    max-width: 1140px;
}

.mx-auto {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

/*
02. Header
==========================================================
*/

header {
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.navbar-wrapper {
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 34px;
    font-family: var(--secondary-font);
    font-weight: 900;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}

.banner h2 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
}

.banner-wrapper {
    padding: 160px 120px;
}


/*
03. Main
==========================================================
*/

main {
    background-color: #F5F8FF;
}

/*
03-01. See In Action
==========================================================
*/

.see-in-action {
    padding: 116px 0;
}

.see-in-action-wrapper {
    justify-content: space-between;
    align-items: center;
}

.see-in-action-wrapper img {
    border-radius: 48px;
}

.see-in-action-content {
    margin-right: 220px;
}

.see-in-action-content h3 {
    font-size: 42px;
}

.see-in-action-content p {
    font-size: 24px;
    line-height: 30px;
    margin: 23px 0;
    color: rgba(36, 36, 50, .5);
}

/*
03-02. Productive Users
==========================================================
*/

.productive-users-wrapper {
    background-color: rgba(78, 71, 255, .1);
    border-radius: 24px;
    padding: 50px 142px;
}

.productive-users-wrapper h4 {
    font-size: 38px;
    color: #252432;
}

.production-counter {
    margin-top: 40px;
    justify-content: space-between;
}

.single-counter h2,
.single-counter p {
    font-family: var(--secondary-font);
}

.single-counter h2 {
    font-size: 80px;
    color: var(--primary-color);
}

.single-counter p {
    font-size: 20px;
    color: rgba(0, 0, 0, .5);
}


/*
03-03. What our users say
==========================================================
*/

.what-our-users-say {
    padding: 140px 0;
}

.what-our-users-say-wrapper h4 {
    font-size: 42px;
    margin-bottom: 50px;
    color: #252432;
}

.reviews {
    gap: 20px;
}

.single-review {
    background-color: #fff;
    border: 1px solid #F2EDED;
    padding: 24px;
    border-radius: 14px;
}

.ratings {
    gap: 4px;
}

.single-review h5,
.single-review p {
    color: #1E1E1E;
}

.single-review h5 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
}

.reviewed-by {
    margin-top: 24px;
    gap: 12px;
}

.reviewed-by img {
    border-radius: 50px;
}

.review-details h6 {
    font-weight: 600;
    font-size: 16px;
    color: #757575;
}

.review-details p {
    color: #B3B3B3;
    line-height: 1.4;
}

/*
04. Footer
==========================================================
*/

footer {
    background-color: #fff;
}

.footer-wrapper {
    padding: 100px 300px;
}

.footer-logo {
    font-size: 100px;
    font-family: var(--secondary-font);
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
}

.footer-wrapper p,
.footer-wrapper nav ul li a {
    color: #8987A1;
    font-size: 16px;
    font-family: var(--secondary-font);
}

.footer-wrapper p {
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer-wrapper nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 48px;
    justify-content: center;
}

.footer-wrapper nav ul li a {
    text-decoration: none;
}